/* * {

border : red solid 2px;

} */
/* ---- Layouts ---- */

 /* -- app.blade -- */

 /* Navbar */
 nav {

     /* background-color: #000000; */
     background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
     border-bottom: 1px solid #0b0b0b;
     box-shadow: 0 3px 6px rgba(0, 0, 0, 0.19), 0 3px 6px rgba(0, 0, 0, 0.23);
 }

 .navbar-brand {
     padding-left: 0em;
 }

 .navbar-collapse.in {

     display: block !important;

 }

 #nav-content {

     color: #000000;
     text-align: center;
     font-weight: bold;
     text-transform: uppercase;
     font-size: 0.90em;
 }

 .navbar-toggler {

     background-color: #000000;
     opacity: 0.70;
     font-size: 0.5em;

 }

 #navbarDropdown {
     color: #000000;
 }

 /* Footer */
 #l-footer {

     color: #000000;
     /* background-color: #0b0b0b; */
     background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);

 }

 /* -- welcome.blade -- */

 /* Slider */
 #artrousel-block {
     padding-left: 2.75em;
 }

 /* Borders */
 .seams {
     border: black dotted 2px 
 }

.cta {
    color: #d16ba5;
   background-color: #0b0b0b;
   opacity: 0.5;
}