                                        /* ---- Bases ---- */
/* Navbar */
nav {

    background-color: #000000;
    border-bottom: 1px solid #0b0b0b;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.19), 0 3px 6px rgba(0, 0, 0, 0.23);

}

.navbar-brand {

    padding-left:0em;

}

.navbar-collapse.in {

    display: block !important;

}

#nav-content  {

    color: #000000;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.90em;

}

.navbar-toggler {

    background-color: #000000;
    opacity: 0.70;
    font-size: 0.5em;

}

#navbarDropdown {

    color:#fff;

}

#link-crea-atelier a {

    color:#fdc211;
    font-weight: bold;
}

/* Body */
.min-height {

    min-height:86.25vh;

}

#body-color {

background-color: #f5f9fd;
background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

}

/* Text */
p {

    font-size: 1.25em;
    line-height: 1.5em;
    
}

#bloc-contact{
    padding-top:18em;
}

#mail-contact {
    margin-bottom: 0.5em;
    line-height: 1.2;
    font-weight: bold;
}


                                        /* ---- Layouts ---- */
 /* Footer */
 #l-footer {

    color: #eceff3;
    background-color: #0b0b0b;

 }

                                        /* ---- Modules ---- */

 /* Blocs - welcome.blade */
.about {

    background-color: #8762c2bb;
    background-size: 100% 1.2em;
    border-radius: 2px;
    display: inline-block;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1); 
    padding: 2.75em;
    margin-top: 2em;
    margin-bottom: 2em;

}

.seeds {

    background-size: 100% 1.2em;
    border-radius: 2px;
    display: inline-block;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1); 
    padding: 2.75em;
 
}

.contact-bar {

    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1); 
    padding-top: 1em;
    padding-bottom:1em;
    margin-top:1em;
    overflow-x:hidden;

}

/* Blocs forms */
.form {

    margin-top:10em;
    margin-bottom:5em;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}

#bloc-ateliers {

    padding-top:6em;
}

/* Backgrounds */
.bg-form {

    background-color:#ffd0dbbb;

}


.bg-ateliers {

    background-color:#fdc211bb;

}

.bg-adherer {

    background-color:#a8eb12bb; 

}

.bg-contact {

    background-color: #3ec4ddbb;  

}

/* Cards - ateliers.blade */
.card {

    background: #fefefe86;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);

}

.card:hover {

    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

}

.card-title {

    text-transform: uppercase;
    font-weight: bold;
    margin-bottom:0em;

}

.card-subtitle {

    margin-top:0.7em;

}

.card-text {

    text-align: left;
    text-indent: 0em;

}

.card-img {

    float: right;
    width: 5em;
    margin-left:2em;
    margin-right: auto;
}

/* Bloc status + trash btn - ateliers.blade */
.status-trash {

    float: right;
    text-align: right;
    text-transform: uppercase;
    font-weight: bold;

}

/* Mediaqueries */
@media(min-width:768px){
    .img-fluid  {
    
    background-color: #feed01;
    margin-top: 3em;
    
    }
}

@media(max-width:575.98px){
    .img-fluid  {
    
    background-color: #feed01;
    margin-top: 4em;
    
    }
}
